.main-image{
    margin-top: 80px;
    background: url(./assets/house.jpg) no-repeat center center;
    height: 575px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main-image h1{
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: 100;
    width: 30%;
    font-weight: 300;
    font-style: italic;
}

.main-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text h2 {
    font-size: 40px;
    font-weight: 200;
    margin: 50px;
    color: #25272E;
}

.main-text p {
    font-size: 20px;
    font-weight: 200;
    color: #25272E;
    margin-top: 0;
    width: 80%;
    text-align: center;
}

.main-facts{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 38px;
}

.fact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    text-align: center;
    padding: 10px;
}

.fact h3{
    font-size: 3vw;
    font-weight: 200;
    margin-bottom: 0;
}

.vertical-line {
    border-left: 1px solid #25272E;
    height: 210px;
    margin-top: 60px;
}

.main-img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #39487C;
    width: 100%;
    margin: 50px 0px 10px 0px;
}

.main-img-text p{
    margin: 20px;
    font-weight: 200;
    font-size: 2vw;
}

.main-img-text img {
    width: 50vw;
}

.colored-part {
    color: white;
    display: flex;
}

@media screen and (max-width: 780px) {
    .main-image h1{
        font-size: 2rem;
    }

    .main-text h2 {
        font-size: 1.8rem;
    }
    .main-img-text {
        flex-wrap: wrap;
    }
    .main-img-text img {
        width: 100vw;
    }
    .main-img-text p {
        margin: 20px;
        font-size: 18px;
    }

    .main-facts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 38px;
    }

    .fact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        text-align: center;
        padding: 0px;

    }
    
    .fact h3{
        font-size: 5vw;
        font-weight: 200;
        margin-bottom: 0;
    }

    .vertical-line {
        border: 1px solid #25272E;
        height: 0px;
        width: 80vw;
        margin-top: 60px;
    }
}